* {
	padding: 0;
	margin: 0;
	font-family: arial;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white;
}

.center {
	width: 1024px;
	margin: auto;
}

/* Accueil Header */

header {
	width: 100%;
	height: 100px;
	background-color: #343434;
}

nav {
	width: 960px;
	margin: auto;
}

.header_nav_logo {
	display: block;
	float: left;
	height: 100px;
}

.header_nav_logo a img{
	height: 50%;
	margin-top: 27px;
	margin-left: 25px;
}

.header_nav_menu {
	display: block;
	float: right;
	height: 100px;
	line-height: 100px;
	list-style: none;
} 

.header_nav_menu a:hover {
	color: red;
}
.header_nav_menu li {
	display: inline-block;
	font-size: 20px;
	padding-right: 15px;
	padding-left: 15px;
}

.header_position {
	display: block;
	width: 100%;
	height: 25px;
	background-color: grey;
	line-height: 25px;
	text-align: right;
}

.pannier {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #cccccc;
	top: 0;
	right: 5vw;
	cursor: pointer;
}

.pannier img {
	margin-top: 25px;
	margin-left: 22px;
}

/* Accueil slide */

.slide {
	display: block;
	width: 100%;
	height: 500px;
	background-image: url(../img/home-slide-1.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
}

.slide h1 {
	width: 32vw;
	float: right;
	color: white;
	margin-right: 10vw;
	margin-top: 50px;
	font-size: 3vw;
}

/* Accueil box info */
.info_box {
	display: block;
	background-color: #F2F2F2;
	height: 130px;
	border-radius: 8px 0px 0px 8px;
	margin-top: -30px;
}

.info_box__ico {
	width: 130px;
	background-color: red;
	height: 100%;
	display: inline-block;
	text-align: center;
	border-radius: 8px 0px 0px 8px;
	vertical-align: top;
}

.info_box__ico img {
	margin-top: 35px;
}

.info_box__content {
	display: inline-block;
	width: 85%;
}

.info_box__content__text {
	display: inline-block;
	width: 60%;
	margin-top: 20px;
	margin-left: 15px;
}

.info_box__content__text h2{
	margin-bottom: 10px;
}

.info_box__content_button {
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.info_box__content_button button {
	display: inline-block;
	height: 50px;
	margin-top: 40px;
	padding: 15px;
	font-size: 15px;
	margin-left: 25px;
}

.btn_red_white {
	background-color: red;
	color: white;
	border: none;
}

.btn_red_white:hover {
	background-color: white;
	color: red;
	cursor: pointer;
	border: 1px solid red;
}

.btn_white_red {
	background-color: white;
	color: red;
	border: 1px solid red;
}

.btn_white_red:hover {
	background-color: red;
	color: white;
	cursor: pointer;
}

/* Content menu */

.content_menu {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 15px;
}

.content_menu__elem {
	display: inline-block;
	width: 23%;
	height: 150px;
	background-color: red;
	margin-left: 1%;
	border-radius: 5px;
}

.content_menu__elem___couv {
	width: 100%;
	height: 100%;
}

.content_menu__elem___couv:hover {
	background-color: rgba(255,0,0,0.5);
	transition: 1s;
}

.content_menu__elem___title {
	display: block;
	position: relative;
	top: 110px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0 0 5px 5px;
	padding-left: 10px;
}

#cm1 {
	background-image: url(http://188.226.173.21/takeaway/img/content/starter.png);
}

#cm2 {
	background-image: url(http://188.226.173.21/takeaway/img/content/main-dish.png);
}

#cm3 {
	background-image: url(http://188.226.173.21/takeaway/img/content/desserts.png);
}

#cm4 {
	background-image: url(http://188.226.173.21/takeaway/img/content/drinks.png);
}

/* Lasts products */

.last_products {
	margin-top: 100px;
	width: 100%;
	background-color: #343434;
	padding-top: 25px;
	color: white;
}

.last_products h3 {
	text-align: center;
	margin-bottom: 25px;
}

.last_products__elem {
	display: inline-block;
	background-color: white;
	width: 26%;
	height: 245px;
	margin-right: 3%;
	margin-bottom: 25px;
	padding: 20px;
	color: black;
}

.last_products__elem:hover {
	outline: 2px solid red;
}
.last_products__elem___img {
	height: 70%;
	overflow: hidden;
}

.last_products__elem___img img {
	max-width: 100%;
}

.last_products__elem___info h4, p{
	margin-top: 5px;
	display: block;
	float: left;
	width: 70%;
}

.last_products__elem___info button {
	position: relative;
	top: 9px;
	right: -20px;
	width: 25%;
	height: 75px;
	border: none;
	background-color: red;
	color: white;
	cursor: pointer;
	outline: none;
}

.last_products__elem___info button:hover {
	box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.5);
}

/* Footer */

footer {
	width: 100%;
	height: 150px;
	background-color: black;
	color: white;
	text-align: center;
}

/* Products */

.products_content {
	margin-top: 25px;
}
.filter_products {
	display: block;
	float: left;
	width: 240px;
	background-color: #CCCCCC;
	padding: 20px;
}

.filter_products h4 {
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #999999;
	margin-bottom: 20px;
	font-size: 17px;
}

.filter_products__search input {
	width: 90%;
	margin-left: 5%;
	height: 35px;
	border-radius: 4px;
	border: none;
	margin-bottom: 20px;
}

.filter_products__search {
	border-bottom: 1px solid #999999;
	margin-bottom: 20px;	
}

.filter_products__category h5 {
	margin-bottom: 10px;
	margin-left: 5px;
	font-size: 14px;
}
.filter_products__category input{
	width: 10%;
}

.filter_products__category label{
	line-height: 50px;
	margin-right: 60%;
}

.results_products {
	padding-top: 37px;
	margin-left: 300px;
}

.results_products h3{
	border-bottom: 4px solid red;
	margin-bottom: 20px;
}

.results_products__group {
	margin-bottom: 25px;
}

.results_products__group___elem {
	width: 96%;
	border: 1px solid black;
	padding: 2%;
	max-height: 130px;
	overflow: hidden;
	margin-bottom: 5px;
}

.results_products__group___elem a {
	color: black;
}

.results_products__group___elem:hover {
	border-color: red;
	cursor: pointer;
}

.results_products__group___elem:hover .results_products__group___elem____price {
	border-color: red;
}

.results_products__group___elem img {
	display: block;
	float: left;
	max-height: 130px;
	overflow: hidden;
}

.results_products__group___elem____infos {
	display: block;
	float: left;
	width: 300px;
	margin-left: 15px;
}

.results_products__group___elem____price {
	display: block;
	float: left;
	width: 50px;
	margin-top: -20px;
	height: 65px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	margin-left: -60px;
	padding: 25px;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	border-bottom: 1px solid black;
}

.results_products__group___elem____price____options {
	display: block;
	float: left;
	width: 100px;
	height: 50px;
	margin-left: -26px;
	margin-top: 55px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	background-color: red;
	line-height: 50px;
	text-align: center;
}


.results_products__group___elem____price____options:hover {
	background-color: white;
	border: 1px solid red;
}

.results_products__group___elem____price____options a:hover {
	color: red;
}
.results_products__group___elem____price____options a{
	font-size: 20px;
	color: white;
}

.results_products__group___elem____add a{
	display: block;
	float: left;
	width: 70px;
	color: black;
	margin-top: 45px;
	margin-left: 40px;
	text-align: center;
}

.results_products__group___elem____add {
	width: 125%;
	height: 170px;
}

.results_products__group___elem____add:hover a {
	color: red;
}

.results_products__group___elem____add_____quantity {
	display: block;
	float: right;
	width: 100px;
	text-align: center;
}

.results_products__group___elem____add_____quantity input {
	width: 70%;
	height: 40px;
	margin-left: 40%;
	font-size: 20px;
	text-align: center;
}

.results_products__group___elem____add_____confirmbtn {
	width: 100px;\
}

.results_products__group___elem____add_____confirmbtn a {
	color: black;
	display: block;
	float: left;
	font-size: 20px;
	margin-top: 49px;
	margin-left: 55px;
}

.results_products__group___elem____add_____confirmbtn a:hover {
	color: red;
}

/* Product details */

.products_details {
	width: 100%;
}

.products_details__header {
	width: 100%;
	height: 400px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.products_details__content {
	margin-top: 25px;
}

.products_details__content___title {
	width: 100%;
	border-bottom: 5px solid red;
}

.products_details__content___center {
	display: inline-block;
	width: 70%;
	margin-top: 25px;
}

.products_details__content___description {
	width: 100%;
}

.products_details__content___description p {
	width: 100%;
}

.products_details__content___aside {
	vertical-align: top;
	margin-top: 25px;
	display: inline-block;
	width: 29%;
	min-height: 250px;
	background-color: #cccccc;
}

.products_details__content___aside____price {
	width: 100%;
	height: 25px;
	text-align: center;
}

.products_details__content___aside____price p {
	width: 100%;
	line-height: 70px;
	font-size: 40px;
	color: black;
}


.products_details__content___aside____price p:after {
	content: " ";
	width: 70%;
	display: block;
	margin: auto;
	border-bottom: 1px solid #666;
}

.products_details__content___aside____add {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 70px;
}

.products_details__content___aside____add a {
	color: red;
}

.products_details__content___aside____add:hover a {
	color: rgba(255,0,0,0.6);
}

.products_details__content___aside____add a:after {
	content: " ";
	width: 70%;
	display: block;
	margin: auto;
	border-bottom: 1px solid #666;
}

.products_details__content___aside____categorie {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

.products_details__content___aside____categorie h3 {
	line-height: 50px;
}

.products_details__content___aside____categorie ul {
	list-style: none;
	text-align: left;
	margin-left: 125px;
}

.products_details__content___aside____categorie ul li {
	line-height: 25px;
}

.products_details__content___aside____categorie a {
	color: black;
}

.products_details__content___aside____categorie a:hover {
	color: #999999;
}

/* Inscription */


.inscription_details__header {
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.inscription_details__content___title {
	width: 40%;
	margin: auto;
	text-align: center;
	border-bottom: 5px solid red;
}

.inscription_details__content___form {
	width: 40%;
	margin: auto;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 5px solid red;

}

.inscription_details__content___form_f input, label {
	width: 99%;
	height: 25px;
}

.inscription_details__content___form_f label {
	margin-bottom: 5px;
}

.inscription_details__content___form_f input {
	margin-bottom: 10px;
}

.inscription_details__content___form_f button {
	width: 100%;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #999;
	border: none;
	font-size: 17px;
}

.inscription_details__content___form_f button:hover {
	background-color: #333;
	cursor: pointer;
	color: white;
	transition: 1s;

}